<script context="module">
  export async function preload(page, session) {
  	console.log(page.path)
    let data = {
		"name": 'Otro Club',
		"short": 'OC',
		"alias": "OCLUB",
		"direction": "LALALA 1111",
		"phone": "",
		"image": 'https://via.placeholder.com/976x250',
		"bio": 'La bio de otro club que se hace el piola',
		"history": 'La historia de este club no ha sido escrita aun',
		"activities": [{
			"name": "Futbol infantil 2",
			"type": "sport_futbol 2",
			"Bio": "Profesora: Giselle Lorena Alarcon\nPrincipiantes, intermedias y avanzadas"
		}]
	}
    return { ref: data }
  }
</script>

<script>
	import Club from '../components/club/index.svelte';
	import { club } from '../system';
	export let ref;
	club.set(ref)
</script>

<Club />