<!-- 

- Verificar conexion a backend
- Obtener credenciales o token
- Validar usuario
- Opcional: redireccionar

 -->

<script context="module">
	import { set_host } from '../system'

	export async function preload(page, session) {
		set_host(page.host)
	}
</script>

<script>
	import { onMount } from 'svelte'
	import Log from '../components/Log.svelte';
	
	onMount( async () => {
		// let storage = localStorage.getItem('system_user')
	})
</script>

<Log />

<main class="bg-primary">
	<slot></slot>	
</main>

<style>
	.bg-primary{
	  background-color: #0c0666 !important;
	}
</style>