<!-- 

- Seed de datos
- Opcional: redireccion

 -->

<script>
	import { onMount } from 'svelte';
	import Club from '../components/club/index.svelte';
	import { get_club } from '../system';

	onMount( async () => {
		await get_club()
	})

</script>

<Club />