<!-- 

- Recibir input de usuario
- Enviar input validado a backend
- Resolver a donde ir.

 -->

<script>;
	import { user, api, tokenize, get_user_profile } from '../system'
	import { goto } from '@sapper/app';

	let email = ""
	let password = ""

	async function check_login() {
		user.set({username: email, password: password});
		await tokenize();
		await get_user_profile()

		if (user.access_token !== null) {
			await goto('/')
		}
	}

</script>

<nav class="panel mt-2">
	<div class="panel-header">Ingresarás con tu cuenta</div>
	<div class="panel-body">
		<div class="form-group">
			<label class="form-label">Correo</label>
			<input class='form-input' bind:value={email} type="text" name="correo" placeholder="email">
		</div>
		<div class="form-group">
			<label class="form-label">Clave</label>
			<input class='form-input' bind:value={password} type="password" name="password" placeholder="password">
		</div>
		<button class="btn btn-block" on:click={check_login}>Continuar</button>
	</div>
	<div class="panel-footer">
		<button class="btn btn-primary btn-block s-rounded">Google</button>
	</div>
</nav>