<script>
	import Person from '../components/user/person.svelte';
	import Form from '../components/user/form.svelte';
	import Clubs from '../components/user/clubs.svelte';
</script>

<div class="mainroom">
	<Person />
	<Form />
	<Clubs />
</div>