<script>
	import { club } from '../../system';
</script>

<nav class="panel">
	<div class="panel-body">
		<div class="tile">
			<div class="tile-title h2">Clubes</div>
		</div>
		<div class="columns">
			<div class="column col-auto">
				<label>{$club.name}</label>
				<a href=".">
					<figure class="avatar avatar-xl">
						<img src="https://scontent.faep8-1.fna.fbcdn.net/v/t1.0-9/15781504_1196905870358249_4023066058224689613_n.png?_nc_cat=111&_nc_sid=09cbfe&_nc_oc=AQl_i8CDXAgN9ufKJJMUh17KPHxrTmDClhliURH1uePKtaiI6AuthjmbfR1oZMn_U-Q&_nc_ht=scontent.faep8-1.fna&oh=7d4443ec7bfb06977a507209b77e9b4a&oe=5F2CEC1D" alt="Avatar" class="img-reponsive">
					</figure>
				</a>
			</div>
		</div>
	</div>
</nav>