<script>
	import { user } from '../../system';

	const form_user = {
		name: $user.name,
		email: $user.email,
		bio: $user.bio,
		avatar: $user.avatar
	}

	function cancel(){
		user.set(form_user)
	}
</script>

<nav class="panel">	
	<div class="panel-body">
		<input bind:value={$user.name} placeholder="Nombre">
		<input bind:value={$user.avatar} placeholder="Avatar">
		<input bind:value={$user.email} placeholder="Email">
		<textarea bind:value={$user.bio} placeholder="Bio"></textarea>
    </div>
    <button on:click={cancel}>Cancelar</button>
</nav>