<script>
	import { onMount } from "svelte";
	import { user } from '../../system';
</script>

<nav class="panel">	
	<div class="panel-header text-center">
      <figure class="avatar avatar-lg"><img src="{$user.avatar}" alt="Avatar"></figure>
      <div class="panel-title h5 mt-10">{$user.name}</div>
      <!-- <div class="chip"><i class="icon icon-message"></i></div>
      <div class="chip"><i class="icon icon-edit"></i></div> -->
    </div>
</nav>