/* TODO NO SINCRONIZA ESTE ARCHIVO */
.off-canvas-content {
  padding: 0 !important;
  width: 100vh;
  height: 100vh;
}
.container, 
.container > .columns, 
.main{
  height: 100vh;
  max-height: 100vh;
}
.main{
  padding: 0 .2rem;
}
.off-canvas .off-canvas-toggle{
  position: relative;
  left: auto;
  top: auto;
}
.navbar{
  padding: .3rem 0rem;
}
.btn.btn-action{
  width: 2.3rem;
}
.tile-partido {
  display: flex;
  flex-direction: column;
}
.tile-partido .tile-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
}

.tile-partido .tile-content .tile-title,
.tile-partido .tile-content figure{
  margin: 1rem;
}

.tile-partido .tile-partido-info{
  text-align: center;
  width: 100%;
}