
<script>
  import { club, activity } from '../../system';
  import Image from "svelte-image";
</script>

<header class="navbar">
  <section class="navbar-section">

    <button class="btn btn-link text-secondary">
      <i class="icon icon-edit"></i>
    </button>

  </section>
</header>

<div class="panel" style="border: 0;">
    
    <div class="panel-header text-center">
      <figure class="avatar avatar-lg"><img src="{$club.image}" alt="Avatar"></figure>
      <div class="panel-title h5 mt-10">{$activity.name}</div>
      <div class="panel-subtitle">Profesora: Giselle Lorena Alarcon Principiantes, intermedias y avanzadas</div>
      <div class="chip"><i class="icon icon-message"></i></div>
      <div class="chip"><i class="icon icon-edit"></i></div>
    </div>

    <ul class="tab tab-block">
      <li class="tab-item active">
        <a href="." >
          Panel
        </a>
      </li>
      <li class="tab-item">
        <a href="." >
          Categorias
        </a>
      </li>
      <li class="tab-item">
        <a href="." class="badge" data-badge="9">
          Partidos
        </a>
      </li>
    </ul>
    
    <div class="panel-body">
      
      <div class="columns">

          <div class="column col-12">
            <!-- <h4>Partido</h4> -->
            <div class="tile tile-centered tile-partido">
              <div class="tile-partido-info"><small>01-01-2020 en cancha principal</small></div>
              <div class="tile-content">
                <div class="tile-title">{$club.short} <strong>2</strong></div>
                <figure class="avatar avatar-lg"><img src="{$club.image}" alt="Avatar"></figure>
                <figure class="avatar avatar-lg"><img src="{$club.image}" alt="Avatar"></figure>
                <div class="tile-title"><strong>0</strong> A.V.L.</div>
              </div>
            </div>

          </div>
          
          <div class="column col-xs-12 col-md-6">

            <div>
              <small>Se encuentra en</small>
              <div class="chip"><!-- <img src="img/avatar-1.png" class="avatar avatar-sm"> --><strong>Cancha princial</strong></div>
            </div>
          
            <div>
              <h4>Partidos</h4>
              <div class="tile tile-centered">
                <div class="tile-content">
                  <div class="tile-title">> vs A.V.L</div>
                  <div class="tile-subtitle">Sabado 10 18:00hs Cancha principal.</div>
                </div>
              </div>
              <div class="tile tile-centered">
                <div class="tile-content">
                  <div class="tile-title">> vs Pinocho</div>
                  <div class="tile-subtitle">Sabado 17 18:00hs en Gascon 1111, CABA.</div>
                </div>
              </div>
              <a href="activity">Más partidos</a>
            </div>

            <div>
              <h4>Miembros</h4>
              <div class="tile tile-centered">
                <div class="tile-icon"> <figure class="avatar avatar-md"><img src="{$club.image}" alt="Avatar"></figure> </div>
                <div class="tile-content">
                  <div class="tile-title text-bold">Matias Hernan Perez</div>
                  <div class="tile-subtitle">Profesor</div>
                </div>
              </div>
              <div class="tile tile-centered">
                <div class="tile-icon"> <figure class="avatar avatar-md"><img src="{$club.image}" alt="Avatar"></figure> </div>
                <div class="tile-content">
                  <div class="tile-title text-bold">Ignacio Mazzitelli</div>
                  <div class="tile-subtitle">Jugador</div>
                </div>
              </div>
              <div class="tile tile-centered">
                <div class="tile-icon"> <figure class="avatar avatar-md"><img src="{$club.image}" alt="Avatar"></figure> </div>
                <div class="tile-content">
                  <div class="tile-title text-bold">Federico Mazzitelli</div>
                  <div class="tile-subtitle">Jugador</div>
                </div>
              </div>
            </div>


            <div>
              <h4>Horarios</h4>
              <div class="accordion">
                <input type="checkbox" id="accordion-1" name="accordion-checkbox" hidden>
                <label class="accordion-header" for="accordion-1">
                  <i class="icon icon-arrow-right mr-1"></i>
                  Lunes 30
                </label>
                <div class="accordion-body">
                  <div class="label">Clase 19:00hs a 20:00hs <span class="text-primary">categoria 90</span></div>
                  <div class="label">Clase 20:00hs a 24:00hs <span class="text-primary">categoria 91</span></div>
                  <div class="label">Clase 20:00hs a 24:00hs <span class="text-primary">categoria 91</span></div>
                  <div class="label">Clase 20:00hs a 24:00hs <span class="text-primary">categoria 91</span></div>
                  <div class="label">Clase 20:00hs a 24:00hs <span class="text-primary">categoria 91</span></div>
                  <div class="chip bg-primary">Partido vs AVL ! 20:00hs en Cancha Principal</div>
                </div>
              </div>

              <div class="accordion">
                <input type="checkbox" id="accordion-2" name="accordion-checkbox" hidden>
                <label class="accordion-header" for="accordion-2">
                  <i class="icon icon-arrow-right mr-1"></i>
                  Martes
                </label>
                <div class="accordion-body">
                  <div class="chip">Clase 19:00</div>
                </div>
              </div>
            </div>

            <div>
              <h4>Tarifas</h4>
              <span class="chip">120$ mensual</span>
            </div>

            <div>
              <h4>Categorias</h4>
              <div class="tile tile-centered">
                <div class="tile-content">
                  <span class="chip">90</span>
                  <span class="chip">91</span>
                  <span class="chip">92</span>
                  <span class="chip">93</span>
                  <span class="chip">94</span>
                  <span class="chip">95</span>
                </div>
              </div>
            </div>

          </div>

          <div class="column col-xs-12 col-md-6">
            <div class="columns">
                <div class="column col-6" ><Image src="https://via.placeholder.com/450x450" alt="fuji" class="img-responsive" /></div>
                <div class="column col-6" ><Image src="https://via.placeholder.com/450x450" alt="fuji" class="img-responsive" /></div>
                <div class="column col-6" ><Image src="https://via.placeholder.com/450x450" alt="fuji" class="img-responsive" /></div>
                <div class="column col-6" ><Image src="https://via.placeholder.com/450x450" alt="fuji" class="img-responsive" /></div>
                <div class="column col-6" ><Image src="https://via.placeholder.com/450x450" alt="fuji" class="img-responsive" /></div>
                <div class="column col-6" ><Image src="https://via.placeholder.com/450x450" alt="fuji" class="img-responsive" /></div>
                <div class="column col-6" ><Image src="https://via.placeholder.com/450x450" alt="fuji" class="img-responsive" /></div>
                <div class="column col-6" ><Image src="https://via.placeholder.com/450x450" alt="fuji" class="img-responsive" /></div>
                <div class="column col-6" ><Image src="https://via.placeholder.com/450x450" alt="fuji" class="img-responsive" /></div>
                <div class="column col-6" ><Image src="https://via.placeholder.com/450x450" alt="fuji" class="img-responsive" /></div>
                <div class="column col-6" ><Image src="https://via.placeholder.com/450x450" alt="fuji" class="img-responsive" /></div>
                <div class="column col-6" ><Image src="https://via.placeholder.com/450x450" alt="fuji" class="img-responsive" /></div>
                <div class="column col-6" ><Image src="https://via.placeholder.com/450x450" alt="fuji" class="img-responsive" /></div>
                <div class="column col-6" ><Image src="https://via.placeholder.com/450x450" alt="fuji" class="img-responsive" /></div>
            </div>            
          </div>
      </div>

    </div>

</div>