<script>
  import io from "socket.io-client";
  import { user } from '../../system';
  import { fade } from "svelte/transition";

  const socket = io();

  const placeholder = "Type your message here...";
  let messages = [];
  let message = "";
  let name = $user.name;

  socket.on("message", function(message) {    
    messages = messages.concat(message);
    updateScroll();
  });

  function handleSubmit() {
    message = message.trim();
    
    if (message == '') {
      return;
    }

    let messageString = `${name}: ${message}`;

    messages = messages.concat(messageString);
    socket.emit("message", messageString);

    updateScroll();

    message = "";
  }
  
  function updateScroll() {
    const chatWindow = document.getElementById('chatWindow');
    setTimeout(() => {
      chatWindow.scrollTop = chatWindow.scrollHeight;     
    }, 0);
  }
</script>

<div class="panel">

  <div class="panel-body" style="overflow-x: scroll;">

    <div class="form-group">
      
    </div>

    <form action="">
      <div class="form-group">
        <textarea class="form-input" id="m" autocomplete="off" {placeholder} bind:value={message} rows="3"></textarea>
        <button on:click|preventDefault={handleSubmit}>Send</button>
      </div>
    </form>

    <div id="chatWindow">
      <ul id="messages">
        {#each messages as message}
          <li transition:fade>{message}</li>
        {/each}
      </ul>
    </div>

  </div>
</div>