<script>
	import { club } from '../../system';
</script>

<style>
	.panel-nav{
		padding: .8rem;
	}
</style>

<div class="panel" style="border: 0;">
    
	<div class="panel-nav">
		<ul class="tab tab-block">
		  <li class="tab-item active">
		    Historia
		  </li>
		  <li class="tab-item">
		    Instalaciones
		  </li>
		  <li class="tab-item">
		    Miembros
		  </li>
		  <li class="tab-item">
		    Eventos
		  </li>
		</ul>
	</div>

    <div class="panel-header text-center">
      <img src="{$club.image}" alt="img" class="img-responsive">
    </div>
    
    <div class="panel-body">
    	<h1>Historia</h1>
    	<p>{$club.history}</p>


	  	<div>
	  		<figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure><figure class="avatar avatar-xl"><img src="{$club.image}" alt="{$club.name}"></figure>
	  	</div>

  	</div>
</div>
