<script>
	import { club, user } from '../../system';
  import Root from './root.svelte';
  import Activity from './activity.svelte';
  import Identity from './identity.svelte';
  import Feed from './feed.svelte';

  let component = Root
  let sidebar = false

  function handler(c){
    component = c
  }
</script>

<svelte:head>
	<title>{$club.name}</title>
</svelte:head>

<div class="off-canvas off-canvas-sidebar-show">

   <div class="off-canvas-sidebar" class:active={sidebar}>

    <ul class="menu">
      <li class="menu-item">
        <button class="btn-logo btn btn-link" on:click={() => {component = Root; sidebar = false;}}>
          <figure class="avatar avatar-lg">
            <img src="{$club.logo}" alt="Avatar">
          </figure>
        </button>
      </li>
      <li class="menu-item">
        <ul class="nav">
          <li class="nav-item">
            <button class="btn btn-link text-primary" on:click={() => {component = Activity; sidebar = false;}}>Actividades</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-link text-primary" on:click={() => {component = Feed; sidebar = false;}}>Feed</button>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <ul class="nav">
          <li class="nav-item">
            <a href="user">Usuario</a>
          </li>
          <li class="nav-item">
            <a href="login">Login</a>
          </li>
        </ul>
      </li>
    </ul> 
  </div>

  <button class="off-canvas-overlay" on:click={() => sidebar = false}></button>
  
  <div class="off-canvas-content">

    <div class="container">

      <div class="columns">

        <div class="column col-mx-auto">
          
          <svelte:component this={component} on:ccomponent={handler}/>

          <header class="navbar show-xs">
            <section class="navbar-section">

                <button class="navbar-logo btn btn-link btn-sm" on:click={() => component = Root}>
                    <figure class="avatar avatar-lg">
                      <img src="{$club.logo}" alt="Avatar">
                    </figure>
                </button>

                <button class="btn text-primary btn-link btn-sm" on:click={() => {component = Activity; sidebar = false;}}>Actividades</button>

                <button class="btn text-primary btn-link btn-sm" on:click={() => {component = Feed; sidebar = false;}}>Feed</button>

              <!-- <a href="user">
                <button class="btn btn-link btn-sm">
                  <figure class="avatar avatar-sm">
                    <img src="{$user.avatar}" alt="Avatar">
                  </figure>
                </button>
              </a> -->

              <button class="off-canvas-toggle btn btn-link btn-sm btn-action" on:click={() => sidebar = true}>
                <i class="icon icon-menu"></i>
              </button>

            </section>
          </header>

        </div>
      </div>
    </div>

  </div>
</div>

<style>
  .menu{
    background: none;
    box-shadow: none;
  }

  .off-canvas-content .container .columns .column{
    padding-left: initial;
    padding-right: initial;
  }

  .navbar{
    position: absolute;
    bottom: 0;
    z-index: 3;
    background-color: #FFF;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid;
  }

  .navbar button {
    font-size: 18px;
  }

  .navbar .navbar-section{
    justify-content: space-around;
  }

  .navbar-logo{
    width: max-content;
    height: max-content;
  }

  .btn-logo{
    width: 100%;
    height: 100%;
  }

  .avatar{
    border: 1px solid #000;
  }

  .text-primary{
    color: #0c0666 !important;
  }

  .btn-primary{
    background-color: #0c0666 !important;
    border-color: #0c0666 !important;
  }
</style>