<script>
  import { club } from '../../system';
  import Identity from './identity.svelte';
</script>

<header class="navbar">
  <section class="navbar-section">

    <button class="btn btn-link text-secondary">
      <i class="icon icon-edit"></i>
    </button>

  </section>
</header>

<div class="panel" style="border: 0;">
  
  <div class="panel-image">
    <img src="{$club.image}" class="img-responsive" alt="img">
  </div>

  <div class="panel-header text-center">
    <div class="card-title h1">{$club.name}</div>
    <div class="card-subtitle">
    	<span class="chip">{$club.direction}</span><span class="chip">{$club.phone}</span>
    	<p>{$club.bio}</p>
    </div>
  </div>

  <div class="panel-body">

    <button class="btn-identity btn text-primary btn-link ">
      <div class="text-secondary">Identidad del club</div>
      <span class="text-secondary text-bold">></span>
    </button>

  	<div class="columns">
  		<div class="column col-4"><img src="https://via.placeholder.com/300x350" alt="img" class="img-responsive"></div>
  		<div class="column col-2"><img src="https://via.placeholder.com/300x350" alt="img" class="img-responsive"></div>
  		<div class="column col-4"><img src="https://via.placeholder.com/300x350" alt="img" class="img-responsive"></div>
  		<div class="column col-2"><img src="https://via.placeholder.com/300x350" alt="img" class="img-responsive"></div>
  	</div>

  </div>
</div>

<style>
  .panel{
    border:0;
  }

  .btn-identity{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    border: 1px solid #FFF;
  }

</style>