<script>
	import { onMount } from 'svelte'
	import { user, api, club } from '../system'

	let log_active = false;
	let storage = null;

	function log_view () {
		log_active = !log_active
	}

	async function get_system_user () {
		storage = localStorage.getItem('system_user')
	}

	user.subscribe( async u => {
		await get_system_user();
	})

	onMount( async () => {
		await get_system_user()
	})

</script>

<style>
	.log-switch{
		bottom: 20%;
		right: 4%;
		z-index: 2000;
		position: absolute;
	}

	.log{
		position: absolute;
		background-color: white;
		color: black;
		word-wrap: break-word;
		height: 100%;
		width: 80%;
		display: none;
		z-index: 1000;
		padding: 1rem;
		overflow-x: auto;
	}

	.log p {
		position: relative;
	}

	.log.active{
		display: block;
	}
</style>

<button on:click={log_view} class="log-switch s-circle btn btn-primary btn-action"><i class="icon icon-arrow-left"></i></button>

<div class="log" class:active="{log_active === true}">
	<p>{storage}</p>
	<p>{JSON.stringify($club)}</p>
	<p>{JSON.stringify($user)}</p>
	<p>{JSON.stringify($api)}</p>
</div>