<script>
  import { club } from '../store.js';
  export let segment; 
</script>


  <div id="sidebar-id" class="off-canvas-sidebar bg-dark">
    <ul class="menu">
      <li class="menu-item">
        <a href=".">{$club.alias}</a>
      </li>
      <li class="menu-item">
        <a href="club">Identidad</a>
      </li>
      <li class="menu-item">
        <a href="activity">Actividades</a>
      </li>
      <li class="menu-item">
        <a href="user">Usuario</a>
      </li>
      <li class="menu-item">
        <a href="login">Login</a>
      </li>
      <li class="menu-item">
        <a href="room">Salas</a>
      </li>

    </ul>

  </div>

  <a class="off-canvas-overlay" href="{(segment!=undefined) ? segment : ''}#close">
    <input type="hidden" name="hidden">
  </a>


<style>
  .menu{
    background: none;
    box-shadow: none;
  }
</style>