<div class="navbar tabs is-fullwidth is-fixed-bottom is-hidden-desktop">
  <ul>
    <li>
      <a href=".">
        <span class="icon"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
        <span>Menu</span>
      </a>
    </li>
    <li>
      <a href=".">
        <span class="icon"><i class="fas fa-angle-up" aria-hidden="true"></i></span>
        <span>Inicio</span>
      </a>
    </li>
  </ul>
</div>


<style>
  .tabs, .tabs a{
    border-bottom-color: #fff;
  }
</style>