html{
  overflow-y: hidden;
  font-family: Roboto,sans-serif;
}
.off-canvas-content {
  padding: 0 !important;
  width: 100vh;
  height: 100vh;
  overflow-y: scroll;
}
.container, 
.container > .columns, 
.main{
  height: 100vh;
  max-height: 100vh;
}
.main{
  padding: 0 .2rem;
}
.off-canvas .off-canvas-toggle{
  position: relative;
  left: auto;
  top: auto;
}
.navbar{
  padding: .3rem 0rem;
}
.btn.btn-action{
  width: 2.3rem;
}
.tile-partido {
  display: flex;
  flex-direction: column;
}
.tile-partido .tile-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
}

.tile-partido .tile-content .tile-title,
.tile-partido .tile-content figure{
  margin: 1rem;
}

.tile-partido .tile-partido-info{
  text-align: center;
  width: 100%;
}
.mainroom{
  /*max-height: 100%;
  height: 100%;*/
  /*overflow-x: scroll;*/
  height: 100%;
  border: none;
}
.panel .panel-body{
  overflow-y: initial;
}

h1.svelte-8od9u6,p.svelte-8od9u6{
  margin:0 auto
}

h1.svelte-8od9u6{
  font-size:2.8em;
  font-weight:700;
  margin:0 0 0.5em 0
}

p.svelte-8od9u6{
  margin:1em auto
}

@media(min-width: 480px){
  h1.svelte-8od9u6{
    font-size:4em
  }
}
.off-canvas.svelte-1qbr0ys .off-canvas-toggle.svelte-1qbr0ys{
  position:relative;
  left:auto;
  top:auto
}
.flex.svelte-f66dpe{
  display:flex
}

.flex-direction--row.svelte-f66dpe{
  flex-direction:row
}

.flex-direction--column.svelte-f66dpe{
  flex-direction:column
}

.flex-direction--row--reverse.svelte-f66dpe{
  flex-direction:row-reverse
}

.flex-direction--column--reverse.svelte-f66dpe{
  flex-direction:column-reverse
}

.flex-align--start.svelte-f66dpe{
  align-items:flex-start
}

.flex-align--center.svelte-f66dpe{
  align-items:center
}

.flex-align--end.svelte-f66dpe{
  align-items:flex-end
}

.flex-align--stretch.svelte-f66dpe{
  align-items:stretch
}

.flex-justify--start.svelte-f66dpe{
  justify-content:flex-start
}

.flex-justify--center.svelte-f66dpe{
  justify-content:center
}

.flex-justify--end.svelte-f66dpe{
  justify-content:flex-end
}

.flex-justify--around.svelte-f66dpe{
  justify-content:space-around
}

.flex-justify--between.svelte-f66dpe{
  justify-content:space-between
}

.flex-justify--evenly.svelte-f66dpe{
  justify-content:space-evenly
}